/* Font applicazione*/
.v-application {
    font-family: 'Inter', sans-serif;
  }

/* Font titolo */
.custom-title {
    font-family: 'Inter', sans-serif;
    color: #d0a349; 
}

/* Componenti card*/
.zoom-card {
    transition: transform 1s ease-in-out; /* Transizione fluida */
}
.zoom-card:hover {
    transform: scale(1.05); 
    transition: transform 1s ease-in-out 0.3s; /* Ritardo sull'effetto di zoom */
}
