body {
    margin: 0;
    padding: 0;
    background-image: url('/sanze/image/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Altezza minima, ma può crescere col contenuto */
    overflow-x: hidden;
}

/* Assicura che il contenuto dell'app sia trasparente */
.v-application {
    background-color: transparent !important; /* Rimuovi eventuali colori di sfondo di Vuetify */
}
        

html, body {
    height: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
}

/* Font titolo */
.custom-title {
    font-family: 'Inter', sans-serif;
    color: #d0a349; 
}

/* Componenti card */
.zoom-card {
    transition: transform 1s ease-in-out; /* Transizione fluida */
}
.zoom-card:hover {
    transform: scale(1.05); 
    transition: transform 1s ease-in-out 0.3s; /* Ritardo sull'effetto di zoom */
}

/* Testo punteggio responsive */
.score-text {
    font-weight: bold;
}

/* Mobile */
@media (max-width: 600px) {
    .score-text {
        font-size: 2.5rem;
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 960px) {
    .score-text {
        font-size: 3.5rem;
    }
}

/* Desktop */
@media (min-width: 961px) {
    .score-text {
        font-size: 4rem;
    }
}

.player-img {
    object-fit: contain;
}

/* Mobile */
@media (max-width: 600px) {
    .player-img {
        width: 60px;
        height: 60px;
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 960px) {
    .player-img {
        width: 80px;
        height: 80px;
    }
}

/* Desktop */
@media (min-width: 961px) {
    .player-img {
        width: 100px;
        height: 100px;
    }
}

/* Assicurati che il carosello abbia un'altezza fissa */
.v-carousel {
    height: 400px; /* Imposta un'altezza fissa */
    overflow: hidden; /* Nascondi eventuali contenuti che eccedono l'altezza */
}

/* Assicurati che le immagini abbiano la stessa altezza */
.v-carousel__item {
    height: 100%; /* Assicurati che le immagini occupino tutta l'altezza del carosello */
}

.v-img {
    height: 100%; /* Assicurati che le immagini occupino tutta l'altezza del contenitore */
    object-fit: cover; /* Mantieni le proporzioni delle immagini */
}

/* Rimuovi eventuali margini o padding che potrebbero causare spostamenti */
.v-carousel__item--active {
    margin: 0;
    padding: 0;
}

  
.regolamento-text {
    white-space: normal !important;
    word-break: break-word !important;
}

/* Stile generale per le card teams*/
.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px !important;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background: linear-gradient(145deg, #1e1e1e, #977511) !important;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Stile per il titolo delle card */
.custom-card-title {
    color: #c8c8c8 !important; /* Marrone scuro per contrasto */
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding: 16px;
     text-transform: uppercase; /* Testo in maiuscolo */
}

/* Stile per il contenuto delle card */
.custom-card-text {
    padding: 16px !important;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}



